body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

form {
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

#reg_exh_header {
    font-family: "Bookman Old Style", serif;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-family: "Bookman Old Style", serif;
    font-size: 16px;
    margin-bottom: 6px;
}

.form input[type="text"] {
    width: 90%;
    padding: 10px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#reg_exh_submit_btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#reg_exh_submit_btn:hover {
    background-color: #d94086;
}
